<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form name="reactForm" [formGroup]='reactiveForm' (ngSubmit)="onFormSubmit()">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="inputTypeSelect">Select Input Type</label>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <select name="inputTypeSelect" id="inputTypeSelect" formControlName='inputTypeSelect' class="form-control">
                                <option *ngFor='let inputType of inputTypeCollection'
                                [value]='inputType.value'>{{ inputType.type }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-success" type="button" (click)='onAddInput()'>Add Input</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="dynamicInputs" formArrayName='inputElementsArray'>
                        <div class="row dynamicInputs" *ngFor='let inputElement of reactiveForm.get("inputElementsArray").controls; let i = index' [formGroupName]='i'>
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6" *ngIf='typeArr[i]!=="dropdown" && typeArr[i]!=="multi"'>
                                <input type={{typeArr[i]}} class="form-control" formControlName='inputName' />
                            </div>
                            <div class="col-xs-6" *ngIf='typeArr[i]==="dropdown"'>
                                <select name="dropdown" formControlName='inputName' class="form-control">
                                    <option *ngFor='let dropdown of dropdowns'
                                    [value]='dropdown.value'>{{ dropdown.type }}</option>
                                </select>
                            </div>
                            <div class="col-xs-6" *ngIf='typeArr[i]==="multi"'>
                                <select name="multi-dropdown" formControlName='inputName' multiple class="form-control">
                                    <option *ngFor='let dropdown of dropdowns'
                                    [value]='dropdown.value'>{{ dropdown.type }}</option>
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <button type='button' class="btn btn-danger" (click)='onRemoveElement(i)'>Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row" *ngIf=showSubmitBtn>
                    <div class="col-xs-9"></div>
                    <div class="col-xs-2">
                        <button class="btn btn-success" type='submit'>Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>