<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <!-- <form>
                <select name="inputTypeSelect" id="inputTypeSelect">
                    <option value="select">--- Select any Input Type ---</option>
                    <option ngFor='let inputType of inputTypeCollection' [ngValue]='inputType.value' >{{ inputType.type }}</option>
                </select>
            </form> -->
        </div>
    </div>
</div>